In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fremont,US,2022-03-09 21:29:28,37.5483,-121.9886,71.76,46,0,19.57
1,1,Georgetown,MY,2022-03-09 21:32:52,5.4112,100.3354,82.33,94,20,6.91
2,2,Cape Town,ZA,2022-03-09 21:32:53,-33.9258,18.4232,70.12,88,20,18.41
3,3,Vaini,TO,2022-03-09 21:32:53,-21.2000,-175.2000,80.76,83,75,4.61
4,4,Chuy,UY,2022-03-09 21:32:53,-33.6971,-53.4616,69.94,79,96,7.09

In [3]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Goggle API key.
gmaps.configure(api_key=g_key)

In [21]:
#Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the max temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)

#Assign the heatmap_layer variable to the heatmap_layer() attribute.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in
                                                    max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &              
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Georgetown,MY,2022-03-09 21:32:52,5.4112,100.3354,82.33,94,20,6.91
3,3,Vaini,TO,2022-03-09 21:32:53,-21.2000,-175.2000,80.76,83,75,4.61
6,6,Crixas,BR,2022-03-09 21:32:54,-14.5489,-49.9692,77.07,75,31,1.86
11,11,Mahebourg,MU,2022-03-09 21:32:56,-20.4081,57.7000,79.09,89,40,0.00
14,14,Kapaa,US,2022-03-09 21:32:58,22.0752,-159.3190,80.11,68,20,9.22
15,15,Takoradi,GH,2022-03-09 21:33:00,4.8845,-1.7554,81.21,85,97,8.70
19,19,Butaritari,KI,2022-03-09 21:33:01,3.0707,172.7902,80.85,81,55,14.65
27,27,Rikitea,PF,2022-03-09 21:33:05,-23.1203,-134.9692,78.85,68,46,7.31
32,32,Cabo San Lucas,MX,2022-03-09 21:30:51,22.8909,-109.9124,76.51,57,20,8.05
35,35,Torit,SS,2022-03-09 21:33:07,4.4133,32.5678,85.84,28,63,4.03

In [27]:
# Checking for null values
preferred_cities_df.count()

City_ID       179
City          179
Country       178
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1       Georgetown      MY     82.33   5.4112  100.3354
3            Vaini      TO     80.76 -21.2000 -175.2000
6           Crixas      BR     77.07 -14.5489  -49.9692
11       Mahebourg      MU     79.09 -20.4081   57.7000
14           Kapaa      US     80.11  22.0752 -159.3190
15        Takoradi      GH     81.21   4.8845   -1.7554
19      Butaritari      KI     80.85   3.0707  172.7902
27         Rikitea      PF     78.85 -23.1203 -134.9692
32  Cabo San Lucas      MX     76.51  22.8909 -109.9124
35           Torit      SS     85.84   4.4133   32.5678

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
        
hotel_df.head(10)

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
3,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
6,Crixas,BR,77.07,-14.5489,-49.9692,RISO HOTEL
11,Mahebourg,MU,79.09,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Kapaa,US,80.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Takoradi,GH,81.21,4.8845,-1.7554,Raybow International Hotel
19,Butaritari,KI,80.85,3.0707,172.7902,Isles Sunset Lodge
27,Rikitea,PF,78.85,-23.1203,-134.9692,People ThankYou
32,Cabo San Lucas,MX,76.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
35,Torit,SS,85.84,4.4133,32.5678,Diplomat Guest House

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dl>
"""
#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))